<template>
  <router-view></router-view>
</template>

<script>
import { JwtStore } from './store/modules'

export default {
  name: 'LayoutDefault',
  meta: {
    title: 'Auth App'
  },

  data() {
    return {
      mobileScreen: false,
      leftDrawerOpen: false
    }
  },
  methods: {
    screenResize() {
      console.log('Here')
      if (document.body.clientWidth <= 768) {
        this.mobileScreen = true
      } else {
        this.mobileScreen = false
        this.leftDrawerOpen = false
      }
    }
  },
  async beforeCreate() {
    // await
    JwtStore.refreshAccessToken()
  },

  created() {
    this.screenResize()
    window.addEventListener('resize', this.screenResize)
    const darkMode = this.$q.localStorage.getItem('dark')
    this.$q.dark.set(darkMode)
  }
}
</script>

<style></style>
