<template>
  <q-layout view="hHh lpr lfr">
    <q-header class="flat">
      <q-toolbar>
        <q-btn
          v-if="mobileScreen"
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title shrink>
          Auth App
        </q-toolbar-title>

        <q-tabs v-if="!mobileScreen" align="left">
          <RoutesList :mobileScreen="mobileScreen" />
        </q-tabs>
        <q-space />
        <q-btn
          flat
          round
          :icon="$q.dark.isActive ? 'wb_sunny' : 'brightness_3'"
          @click="toggleDarkMode"
        ></q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="mobileScreen"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      overlay
    >
      <q-list>
        <RoutesList :mobileScreen="mobileScreen" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view :key="$route.fullURL" />
      <!-- <div style="height: 1000px"></div> -->

      <!-- place QPageScroller at end of page -->
      <q-page-scroller
        position="bottom-right"
        :scroll-offset="150"
        :offset="[18, 18]"
      >
        <q-btn fab icon="keyboard_arrow_up" color="primary" />
      </q-page-scroller>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import RoutesList from '@/components/RoutesList.vue'
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
    RoutesList
  },
  meta: {
    title: '',
    titleTemplate: (title: string) => {
      if (title == '') {
        return 'Auth App'
      }
      return `${title} - Auth App`
    }
  }
})
export default class MainLayout extends Vue {
  mobileScreen = false
  leftDrawerOpen = false

  toggleDarkMode() {
    this.$q.dark.toggle()
    this.$q.localStorage.set('dark', this.$q.dark.isActive)
  }
}
</script>

<style scoped></style>
