<template>
  <q-item v-if="mobileScreen" clickable @click="clickAction">
    <q-item-section avatar>
      <q-icon :name="icon" />
    </q-item-section>
    <q-item-section>
      <q-item-label style="text-transform: capitalization">
        {{ label }}
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-tab v-else :label="label" @click="clickAction" />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class NavRoute extends Vue {
  @Prop({ default: false })
  mobileScreen!: boolean

  @Prop({
    default: () => {
      return true
    }
  })
  clickAction!: Function

  @Prop({ default: '' })
  icon!: string

  @Prop({ required: true })
  label!: string
}
</script>

<style scoped></style>
