<template>
  <q-item v-if="mobileScreen" clickable :to="routeTo" exact>
    <q-item-section avatar>
      <q-icon :name="icon" />
    </q-item-section>
    <q-item-section>
      <q-item-label>
        <span style="text-transform: capitalization">
          {{ label }}
        </span>
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-route-tab v-else :to="routeTo" :label="label" exact />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { RawLocation } from 'vue-router'

@Component
export default class NavRoute extends Vue {
  @Prop({ default: false })
  mobileScreen!: boolean

  @Prop({ default: { name: 'Home' } })
  routeTo!: RawLocation

  @Prop({ default: '' })
  icon!: string

  @Prop({ required: true })
  label!: string
}
</script>

<style scoped></style>
