<template>
  <div style="display: contents">
    <NavRoute
      :mobileScreen="mobileScreen"
      :label="'Home'"
      :routeTo="{ name: 'Home' }"
      :icon="'home'"
    />
    <NavRoute
      :mobileScreen="mobileScreen"
      :label="'About'"
      :routeTo="{ name: 'About' }"
      :icon="'info'"
    />
    <NavRoute
      v-if="!isLoggedIn"
      :mobileScreen="mobileScreen"
      :label="'Login'"
      :routeTo="{ name: 'Login' }"
      :icon="'login'"
    />
    <NavRoute
      v-if="isLoggedIn"
      :mobileScreen="mobileScreen"
      :label="decodedJwtPayload.username"
      :routeTo="{ name: 'Profile' }"
      :icon="'account_circle'"
    />
    <NavButton
      v-if="isLoggedIn"
      :mobileScreen="mobileScreen"
      :label="'Logout'"
      :clickAction="clearJWT"
      :icon="'logout'"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import NavRoute from '@/components/NavRoute.vue'
import NavButton from '@/components/NavButton.vue'
import { JwtStore } from '@/store/modules'

@Component({
  components: {
    NavRoute,
    NavButton
  }
})
export default class RouteList extends Vue {
  @Prop({ default: false })
  mobileScreen!: boolean

  get isLoggedIn() {
    return JwtStore.isLoggedIn
  }

  get decodedJwtPayload() {
    return JwtStore.DecodedPayload
  }

  clearJWT() {
    JwtStore.clearJWT()
    this.$router.push({ name: 'Home' }).catch(error => {
      return error
    })
    this.$q.notify({
      message: 'You logged out successfully',
      progress: true,
      position: 'top',
      type: 'warning'
    })
  }
}
</script>

<style scoped></style>
