<template>
  <q-page padding>
    <p>This is an about page</p>
  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  meta: {
    title: 'About'
  }
})
export default class About extends Vue {}
</script>
