<template>
  <q-page padding>
    Welcome to my Home Page
  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HelloWorld from '@/components/HelloWorld.vue' // @ is an alias to /src

@Component({
  components: {
    HelloWorld
  },
  meta: {
    title: 'Home'
  }
})
export default class Home extends Vue {}
</script>
