<template>
  <q-page padding class="row justify-center">
    <div class="col-12 centered">
      <img alt="Vue logo" src="@/assets/logo.png" />
    </div>
    <div class="col-md-4 col-sm-8">
      <q-form autofocus class="q-gutter-y-md" @submit="login">
        <q-input outlined v-model="username" label="Username" />
        <q-input outlined v-model="password" type="password" label="Password" />
        <q-btn label="Login" type="submit" color="primary" class="full-width" />
      </q-form>

      <!-- <div>
        {{ decodedToken }}
      </div> -->
    </div>
  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { JwtStore } from '@/store/modules'

@Component({
  meta: {
    title: 'About'
  }
})
export default class Login extends Vue {
  username = ''
  password = ''

  // get decodedToken() {
  //   return JwtStore.DecodedPayload
  // }

  async login() {
    await JwtStore.getJWT({
      username: this.username,
      password: this.password
    })
    this.$router.push({ name: 'Home' })
    this.$q.notify({
      message: 'You logged in successfully',
      position: 'top',
      progress: true,
      type: 'positive'
    })
  }
}
</script>

<style scoped lang="sass">
.centered
    display: flex
    align-items: center
    justify-content: center
</style>
