<template>
  <q-layout>
    <q-page-container>
      <q-page padding class="row justify-center text-center">
        <div class="col-12 centered">
          <img alt="Vue logo" src="@/assets/logo.png" />
        </div>
        <div class="col-md-4 col-sm-8">
          <h2><strong>404 Error</strong></h2>
          <p>Page Not Found</p>
          <q-btn
            :to="{ name: 'Home' }"
            icon="home"
            flat
            color="primary"
            label="Go Home"
          ></q-btn>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  meta: {
    title: 'Not Found'
  }
})
export default class NotFound extends Vue {}
</script>

<style scoped lang="sass">
.centered
    display: flex
    align-items: center
    justify-content: center
h2
  margin: 10px
</style>
