<template>
  <q-page padding>
    <p>My Profile</p>
    <!-- HI -->
    <span v-if="userDetail">
      <p><strong>Username:</strong> {{ userDetail.username }}</p>
      <p v-if="userDetail.first_name">
        <strong>First Name:</strong> {{ userDetail.first_name }}
      </p>
      <p v-if="userDetail.last_name">
        <strong>Last Name:</strong> {{ userDetail.last_name }}
      </p>
      <p v-if="userDetail.email">
        <strong>Email:</strong> {{ userDetail.email }}
      </p>
      <p v-if="userDetail.date_joined">
        <strong>Date Joined:</strong> {{ userDetail.date_joined }}
      </p>
      <p v-if="userDetail.last_login">
        <strong>Last Login:</strong> {{ userDetail.last_login }}
      </p>
    </span>
  </q-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UserStore } from '@/store/modules'

@Component({
  meta() {
    return {
      title: this.$data.username
    }
  }
})
export default class About extends Vue {
  get username() {
    let username = this.userDetail.username
    if (username) {
      username = username.charAt(0).toUpperCase() + username.slice(1)
    }
    return username
  }
  get userDetail() {
    return UserStore.UserDetail
  }

  created() {
    UserStore.getUserDetail()
  }
}
</script>
