{% block html %}
<!doctype html>
<html {% block html_tag_attributes %}{% endblock %}>

<head>
    {% block head %}
    {% endblock %}
</head>

<body {% block body_tag_attributes %}{% endblock %}>
    {% block body %}
    {% block content %}{% endblock %}
    {% endblock %}
</body>

</html>
{% endblock %}